<div class='min-h-screen flex items-center justify-center bg-gray-100 p-8'>
  <div class='text-center'>
    <div class='ufo-img mb-8'>
      <img
        src='/img/error-image.webp'
        alt='404 Error Image'
        class='mx-auto h-64 w-auto object-contain'
      />
    </div>

    <div class='error-message'>
      <span class='error-num text-6xl font-extrabold text-gray-800'>404</span>
      <p class='mt-4 text-lg text-gray-600'>Page not found. Go back to
        <a
          href='/'
          class='text-blue-600 hover:text-blue-800 underline'
        >HOME</a></p>
    </div>
  </div>
</div>